:root {
  --deep-blue: #2589e6;
  --white: #fff;
  --dark-white: #d9d9d9;
  --black: #000;

  --default-padding: 5px;
  --font-weight: 400;
  --font-family: "Itim", cursive;
  --font-optical-sizing: auto;
  --font-style: normal;
  --font-variation-settings: "wdth" 100;
}

body {
  font-family: var(--font-family);
  font-optical-sizing: var(--font-optical-sizing);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-variation-settings: var(--font-variation-settings);
}

.font-family-secondary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14px;
}

.text-primary {
  color: var(--black) !important;
}

.text-secondary {
  color: var(--deep-blue) !important;
}

.bg-primary {
  background-color: var(--dark-white) !important;
}

.bg-secondary {
  background-color: var(--deep-blue) !important;
}

.btn-primary {
  border-color: var(--deep-blue) !important;
  background-color: var(--deep-blue) !important;
}

.pointer {
  cursor: pointer;
}

/* card */
.card {
  background-color: var(--dark-white);
}

/* custom */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
