@import "./reset.css";

html {
  --btn-text-color: #fff;
  --btn-bg: #37b5fe;
  --text-color: #000;
  --font-family: "Open Sans", sans-serif;
  --font-optical-sizing: auto;
  --font-weight: 300;
  --font-style: normal;
  --font-variation-settings: "wdth" 100;
  --popup-width: 250px;
}

body {
  width: var(--popup-width);
  color: var(--text-color);
  font-family: var(--font-family);
  font-optical-sizing: var(--font-optical-sizing);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-variation-settings: var(--font-variation-settings);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  img {
    width: 40px;
    cursor: pointer;
  }
}
